<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.anyline.ttr.reactnative">

  <uses-feature
    android:name="android.hardware.camera"
    android:required="true" />
  <uses-feature
    android:name="android.hardware.camera.autofocus"
    android:required="true" />
  <uses-feature
    android:name="android.hardware.camera.flash"
    android:required="false" />

  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.VIBRATE" />

</manifest>
